<html>

<head>
    <%- include('partials/header1.ejs') %>
        <link rel="stylesheet" href="public/css/styles.css">
</head>

<body>
    <%- include('partials/navbar1.ejs') %>
        <div class="container">
            <h2>Auckland</h2>
            <div class="box">
            <img src="/public/images/orewa.jpg" alt="Orewa Beach">
            </div>
            <p>
                Auckland has a population of 1 million people.!!
            </p>

            <p>
                Thousands of students from <a href="http://futureskills.co.nz">Future Skills Academy</a>
                which has campuses.
            </p>
        </div>
</body>

</html>