<html>

<head>
    <%- include('partials/header1.ejs') %>

</head>

<body>
    <%- include('partials/navbar1.ejs') %>
        <div class="container">
            <h2>NZ Beaches</h2>
            <div class="box">
                <img src="/public/images/orewa.jpg" alt="Orewa Beach">
            </div>
            <p>Orewa Beach is .....</p>
            <p style="color:#23086f">
                blah blah blah
            </p>
        </div>
</body>

</html>