@import url('https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700');

p {
    color: black;
}

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-weight: 400;
}

.box img {
    display: inline-block;
    top: 50%;
    left: 50%;

    border-radius: 5px;
    border-color: black;
    max-width: 400px;
    aspect-ratio: 1;
    object-fit: fill;
    box-shadow: 0px 4px 8px 0px rgb(70, 70, 70), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#sign-in {
    display: inline-block;
    padding: 40px;
    border-radius: 5px;
    top: 50%;
    left: 50%;
    background: rgb(34, 32, 150);
    width: 400px;
    margin-top: 40px;
    color: aliceblue;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

#pass {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    font-style: italic;
}


.lanes {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    gap: 16px;
    padding: 24px 36px;
    overflow: scroll;
    height: 100;
}

.heading {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 12px;
    text-align: center;
}

.swim-lane {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 12px;
    background-color: rgb(138, 138, 179);
    box-shadow: 0px 5px 15px black;
    border-radius: 4px;
    width: 225px;
    min-height: 120px;
    flex-shrink: 0px;
}

.task {
    display: inline-block;
    width: 200px;
    height: 200px;
    background: whitesmoke;
    color: black;
    box-shadow: 0px 5px 15px black;
    padding: 0px;
    border-radius: 4px;
    font-size: 16px;
    cursor: move;
    text-align: left;

    .task__ao {
        display: flexbox;
        padding: 12px;
        font-size: 1em;
        text-align: center;
        top: 0px;
        color: #000000;
        text-transform: uppercase;
        font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
        font-weight: bold;
        letter-spacing: 0.1em;
        padding: 0.25em;
        line-height: 1;
        border-radius: 2px;
    }

    .task__type {
        display: flexbox;
        font-size: 1em;
        top: 0px;
        color: #000000;
        text-transform: uppercase;
        font-family: "Open Sans Condensed", "Open Sans", helvetica, sans-serif;
        letter-spacing: 0.1em;
        padding: 0.25em;
        line-height: 1;
        border-radius: 2px;
        text-align: center;

    }

    .task__hours {
        font-size: 1em;
    }

}

.grid {
    display: grid;
    grid-template-columns: 100px 100px;
    grid-template-rows: 50px 50px 50px 50px;
    gap: 0px 0px;
    grid-template-areas:
        "ao shipdate"
        "item item"
        "qty asmtime"
        "part-avail type";
    background-color: beige;
}

.ao {
    grid-area: ao;
    display: flexbox;
    background: #bbb;
    text-align: center;
    align-content: center;
}

.shipdate {
    display:inline-block;
    grid-area: shipdate;
}

.item {
    align-content: center;
    grid-area: item;
}

.qty {
    grid-area: qty;
}

.asmtime {
    grid-area: asmtime;
}

.bench {
    grid-area: bench;
}

.part-avail {
    grid-area: part avail;
}

.type {
    grid-area: type;
    display: flexbox;
    background: #bbb;
    align-content: center;
}


.is-dragging {
    scale: 1.05;
    box-shadow: 0px 5px 15px black;
    border-radius: 4px;
    background: rgb(50, 50, 50);
    color: white;
}

.edit-button{
    align-items: center;
    
}